.layout {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  background: #2c2c2c;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
